.app {
    background: #f1f1f1;
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: 
        "header"
        "main"
        "about"
        "footer";
    grid-template-columns: auto;
    /* Definir primeiro parametro como 100vh*/
    grid-template-rows: 100vh auto auto auto;
}

.header {
    grid-area: header;

}

.main {
    background: #dddddd;
    grid-area: main;

}

.about {
    grid-area: about;
}

.footer {
    grid-area: footer;
    background: url(../img/bg.jpg);
}

.footer h2, h3{
    color: #8e8e8e;
}

.footer p, h4, h5{
    color: #6d6d6d;
}

a {
    cursor: pointer;
    color: #4bb8d2;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}